
.welcome
  .logo

  %header
    %h1 Magazine
    %p.doc
    = link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank"

  .steps
    %h2.step
    %h2.step
    %img src="https://source.unsplash.com/collection/190727/1600x900"
