---
layout: layout
---

<header class="navbar">
    <h1>Magazine</h1>
</header>
<section class="description">
<h1>an online magazine about asian-americans growing up in western culture</h1>
</section>


<div class="issue-parent">
  <img  class="issues"src="https://source.unsplash.com/collection/190727/800x400">
  <img  class="issues"src="https://source.unsplash.com/collection/190727/800x400">
  <img  class="issues"src="https://source.unsplash.com/collection/190727/800x400">
</div>
